body {
  font-family: 'Inter', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sailors';
  src: url('/public/fonts/Sailors.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sailors Slant';
  src: url('/public/fonts/Sailors_Slant.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Global Styles */


.portfolio-item {
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-item:hover {
  transform: scale(1.05);
}

.portfolio-item img {
  transition: filter 0.3s ease-in-out;
  border-radius: 0.5rem; /* Rounded edges */
}

.portfolio-item:hover img {
  filter: brightness(1.2);
}

.portfolio-item p {
  transition: opacity 0.3s ease-in-out;
}

.group-hover .group-hover\\:hidden {
  display: none;
}

.group-hover .group-hover\\:block {
  display: block;
}

.logo {
  max-width: 80%; /* Default size for mobile */
}

@media (min-width: 640px) {
  .logo {
    max-width: 80%;
  }
}

@media (min-width: 768px) {
  .logo {
    max-width: 70%;
  }
}

@media (min-width: 1024px) {
  .logo {
    max-width: 60%;
  }
}

@media (min-width: 1280px) {
  .logo {
    max-width: 50%;
  }
}
/* 
@media (max-width: 640px) {
  .portfolio-item {
    width: 100%;
    margin-bottom: 1rem;
  }
}
 */

