body {
  font-family: 'Inter', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sailors';
  src: url('/public/fonts/Sailors.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sailors Slant';
  src: url('/public/fonts/Sailors_Slant.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Global Styles */


.portfolio-item {
  transition: transform 0.3s ease-in-out;
}

.portfolio-item:hover {
  transform: scale(1.05);
}

.portfolio-item img {
  transition: filter 0.3s ease-in-out;
}

.portfolio-item:hover img {
  filter: brightness(1.2);
}


